*{
    box-sizing: border-box;
}
.flex-container{
    display: flex;
    background-color: aqua;
    flex-direction: row;
    /* flex-wrap: wrap; */
}
.item{
    background: orange;
    border:1px solid #000000;
    width: 200px;
    margin:10px;
    padding:10px;
    text-align: center;;
    border-radius:10px;
    flex:1;
}
.item-2{
    /* flex-basis: 500px; */
    /* flex-shrink: 3; */
    /* flex-grow: 3; */
    flex:2;
}