*{
    box-sizing: border-box;
}
.flex-container{
    display: flex;
    background-color: aqua;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: center;;
    height: 50vh; /*set column height to 50%*/
    align-items: flex-start; /*move in vertical alignment*/
}
.item{
    background: orange;
    border:1px solid #000000;
    width: 200px;
    margin:10px;
    padding:10px;
    text-align: center;;
    border-radius:10px;
}
.item-3{
    align-self: flex-end;
}
.item-1{
    align-self: center;
}